:root {
  --green: #20c997;
  --bg-color: #f8f9fa;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none !important;
}
ul {
  list-style-type: none;
}
